streamlit
python-dotenv
langgraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
duckduckgo-search
requests
beautifulsoup4
